<div class="alert alert-danger" *ngIf="loaded && (!!!worker?.backends || worker.backends.length === 0)">
  <fa-icon icon="exclamation-triangle"></fa-icon>
  Backends information is not available.
</div>
<div class="text-muted text-center" *ngIf="!loaded">
  <fa-icon icon="spinner" [spin]="true" size="3x"></fa-icon>
</div>

<ng-container *ngIf="loaded && worker && worker.backends && worker.backends.length">
  <app-cpu-backend [worker]="cpu"></app-cpu-backend>
  <app-cuda-backend [worker]="cuda"></app-cuda-backend>
</ng-container>
